@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300&display=swap');

$font-primary: Roboto, Arial, sans-serif;
$font-secondary: Poppins, Arial, sans-serif;
$menu-color: #f8f9fa;
$black: #000;
$white: #fff;
$bluishGray: #47565d;
$darkBluishGray: #263035;
$blue: #00baf1;
$darkBlue: #0b7d9f;

// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$bgNightColor1: #000;
$bgNightColor2: #1b1c1e;
$bgNightColor3: #121314;
$bgNightColor4: #080808;
$cNightColor1: #e8eaed;
