.night-mode .menu-topo {
    background-color: #000000;
}

.night-mode .menu-topo .menu-item .menu-link {
    background-color: #ffffff;
    color: #ffffff;
}

.night-mode .menu-topo .menu-item .menu-link:hover {
    background-color: #18191a;
    color: #ffffff;
}

.night-mode .section-header {
    background-color: #0c0c0c;
}

.night-mode .section-header .form-search-default .form-control {
    background-color: #3a3a3a;
    color: #e1e1e1;
}

.night-mode .section-header .form-search-default .form-control:focus {
    background-color: #3a3a3a;
    color: #e1e1e1;
}

.night-mode .section-header .form-search-default .form-control::placeholder {
    color: #e1e1e1;
}

.night-mode .section-header .form-search-default .btn-submit {
    background-color: #1f1f1f;
    color: #ffffff;
}

.night-mode .section-header .form-search-default .btn-submit:hover {
    background-color: #09090a;
    color: #ffffff;
}

.night-mode .social-networks .item .link {
    background-color: transparent;
    color: #ffffff;
}

.night-mode .social-networks .item .link:hover {
    background-color: #3a3a3a;
    color: #ffffff;
}

.night-mode .main-header .custom-menu {
    background-color: #1f1f1f;
}

.night-mode .main-header .custom-menu .navbar-nav .nav-item .nav-link {
    background-color: transparent;
    color: #ffffff;
}

.night-mode .main-header .custom-menu .navbar-nav .nav-item .nav-link:hover {
    background-color: #18191a;
    color: #ffffff;
}

.night-mode .container-service {
    background-color: #1b1c1e;
    color: #ffffff;
}

.night-mode .container-service:hover {
    background-color: #1d1f42;
    color: #ffffff;
}

.night-mode .container-service .description .title {
    color: #ffffff;
}

.night-mode .container-service:hover .description .title {
    color: #ffffff;
}

.night-mode .container-service .description .text {
    color: #e8eaed;
}

.night-mode .container-service:hover .description .text {
    color: #ffffff;
}

.night-mode .container-service i {
    color: #c5c5c5;
}

.night-mode .container-service:hover i {
    color: #ffffff;
}

.night-mode .posts-container .post {
    background-color: #1b1c1e;
}

.night-mode .posts-container .post .content .date {
    color: #dbdbdb;
}

.night-mode .posts-container .post .content .title {
    color: #7276b9;
}

.night-mode .posts-container .post .content .text {
    color: #dbdbdb;
}

.night-mode .main-style-list .item .link {
    background-color: #1b1c1e;
}

.night-mode .main-style-list .item .link .title {
    color: #dbdbdb;
}

.night-mode .main-style-list .item .link .description {
    color: #f7f7f7;
}

.night-mode .main-style-list .item .link .additional-informations {
    color: #f7f7f7;
}

.menu-topo {
    background-color: #004080;
}

.menu-topo .menu-item .menu-link {
    background-color: #ffffff;
    color: #ffffff;
}

.menu-topo .menu-item .menu-link:hover {
    background-color: #033464;
    color: #ffffff;
}

.section-header {
    background-color: #00668b;
}

.section-header .form-search-default .form-control {
    background-color: #ffffff;
    color: #121212;
}

.section-header .form-search-default .form-control:focus {
    background-color: #ffffff;
    color: #121212;
}

.section-header .form-search-default .form-control::placeholder {
    color: #121212;
}

.section-header .form-search-default .btn-submit {
    background-color: #3c42a7;
    color: #ffffff;
}

.section-header .form-search-default .btn-submit:hover {
    background-color: #004080;
    color: #ffffff;
}

.social-networks .item .link {
    background-color: transparent;
    color: #ffffff;
}

.social-networks .item .link:hover {
    background-color: #004080;
    color: #ffffff;
}

.main-header .custom-menu {
    background-color: #30358c;
}

.main-header .custom-menu .navbar-nav .nav-item .nav-link {
    background-color: transparent;
    color: #ffffff;
}

.main-header .custom-menu .navbar-nav .nav-item .nav-link:hover {
    background-color: #242768;
    color: #ffffff;
}

.container-service {
    background-color: #e1e5e7;
    color: #303030;
}

.container-service:hover {
    background-color: #3F45B6;
    color: #ffffff;
}

.container-service .description .title {
    color: #303030;
    font-size: 14px;
}

.container-service:hover .description .title {
    color: #ffffff;
}

.container-service .description .text {
    color: #303030;
    font-size: 12px;
}

.container-service:hover .description .text {
    color: #ffffff;
}

.container-service i {
    color: #303030;
}

.container-service:hover i {
    color: #ffffff;
}

.posts-container .post {
    background-color: #ffffff;
}

.posts-container .post .content .date {
    color: #212529;
}

.posts-container .post .content .title {
    color: #242768;
}

.posts-container .post .content .text {
    color: #212529;
}

.main-style-list .item .link {
    background-color: #30358c;
}

.main-style-list .item .link .title {
    color: #303030;
    font-size: 14px;
}

.main-style-list .item .link .description {
    color: #555555;
    font-size: 13px;
}

.main-style-list .item .link .additional-informations {
    color: #555555;
    font-size: 13px;
}

