.night_mode .custom-menu {
    background_color_night: #111111;
}

.night_mode .custom-menu .navbar-nav .nav-item .nav-link {
    title_color_night: #e8eaed;
}

.night_mode #menu-topo {
    background_color_night: #000000;
}

.night_mode #menu-topo .menu-topo .menu-item .menu-link {
    title_color_night: #e8eaed;
}

.night_mode .carousel-header {
    background_color_night: #111111;
}

.night_mode .live-section {
    background_color_night: #111111;
}

.night_mode .live-section .featured-title {
    title_color_night: #e8eaed;
}

.night_mode #sec-blog-section {
    background_color_night: #111111;
}

.night_mode .newSection {
    background_color_night: #111111;
}

.night_mode .newSection .container-news .body .title {
    title_color_night: #e8eaed;
}

.night_mode .newSection .container-news .body .category {
    subtitle_color_night: #e8eaed;
}

.night_mode .newSection .container-news .body .description {
    description_color_night: #e8eaed;
}

.night_mode .careUnitSection {
    background_color_night: #111111;
}

.night_mode .careUnitSection .container {
    title_color_night: #e8eaed;
}

.night_mode #videosSection {
    background_color_night: #111111;
}

.night_mode #videosSection .container .title {
    title_color_night: #e8eaed;
}

.night_mode #videosSection .container .btn-site {
    button_text_color_night: #e8eaed;
    button_background_color_night: #1b1c1e;
}

.night_mode .custom-menu {
    background_color: #30358c;
}

.night_mode .custom-menu .navbar-nav .nav-item .nav-link {
    title_color: #ffffff;
    title_size: 13;
}

.night_mode #menu-topo {
    background_color: #004080;
}

.night_mode #menu-topo .menu-topo .menu-item .menu-link {
    title_color: #ffffff;
    title_size: 13;
}

.night_mode .carousel-header {
    background_color: #ffffff;
}

.night_mode .live-section {
    background_color: #ffffff;
}

.night_mode .live-section .featured-title {
    title_color: #000000;
    title_size: 25;
}

.night_mode #sec-blog-section {
    background_color: #ffffff;
}

.night_mode .newSection {
    background_color: #ffffff;
}

.night_mode .newSection .container-news .body .title {
    title_color: #00759F;
    title_size: 16;
}

.night_mode .newSection .container-news .body .category {
    subtitle_color: #303030;
    subtitle_size: 13;
}

.night_mode .newSection .container-news .body .description {
    description_color: #303030;
    description_size: 16;
}

.night_mode .careUnitSection {
    background_color: #f7f7f7;
}

.night_mode .careUnitSection .container {
    title_color: #000000;
    title_size: 25;
}

.night_mode #videosSection {
    background_color: #f7f7f7;
}

.night_mode #videosSection .container .title {
    title_color: #000000;
    title_size: 25;
}

.night_mode #videosSection .container .btn-site {
    button_text_color: #ffffff;
    button_text_size: 18;
    button_background_color: #3f44b5;
}

